div{
  background-color: #b1acac;
}
img.main
{
  width: 50%;
}

.Secondary
{
  width: 15%;
}
.Images
{
  margin: 20px;
  display: flex;
  justify-content: center;
}

button
{
  border: none;
  padding: 10px 25px;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 3px;
  background-color: darkslategray;
  color: white;
}

[disabled]
{
  opacity: 0.5;
}
